.fira-sans-thin {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}
  
.fira-sans-extralight {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-light {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-black {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.geist-thin {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.geist-extralight {
  font-family: "Geist", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.geist-light {
  font-family: "Geist", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.geist-regular {
  font-family: "Geist", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.geist-medium {
  font-family: "Geist", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.geist-semibold {
  font-family: "Geist", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.geist-bold {
  font-family: "Geist", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.geist-extrabold {
  font-family: "Geist", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.geist-black {
  font-family: "Geist", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.satoshi-light {
  font-family: "Satoshi", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.satoshi-regular {
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.satoshi-medium {
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.satoshi-bold {
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.satoshi-black {
  font-family: "Satoshi", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}


  